.root {
  &__title {
    display: block;
    padding: 15px 16px 0;

    text-transform: uppercase;
  }

  &__track {
    padding: 15px 0 8px;
  }

  :global(.swiper-wrapper) {
    display: grid !important;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

  :global(.swiper-slide) {
    width: auto;
  }
}
