@use "styles/mixins" as *;

.root {
  width: 100%;

  &__icon-wrap {
    @include square(40px);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    border-radius: 12px;
    background: var(--states-background-hovered-card);
    color: var(--text-themed);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__description {
    color: var(--text-secondary);

    padding-right: 24px;
  }
}
